"--------------插件-------------------"
Plug 'nerdtree'
Plug 'vim-easymotion'
Plug 'vim-surround'
Plug 'argtextobj.vim'
Plug 'vim-exchange'
Plug 'vim-textobj-entire'
Plug 'vim-highlightedyank'
Plug 'vim-paragraph-motion'
Plug 'vim-indent-object'
Plug 'vim-matchit'
Plug 'ReplaceWithRegister'
Plug 'vim-commentary'
Plug 'vim-multiple-cursors'

set nu
set relativenumber
set incsearch
set ignorecase
set smartcase
set autoread
set cursorline
set magic
set clipboard+=unnamed
set scrolloff=1
set syntax=on
set ruler
set noeb
set notimeout
set timeoutlen=5000
set which-key
"set sneak
set quickscope
set ideajoin

let mapleader=" "
let g:WhichKey_FontSize = 22
let g:qs_primary_color = '#5cff26'
let g:qs_secondary_color = '#4d7fff'
"let g:EasyMotion_override_acejump = 0
"let g:sneak#label = 1

""" nerdtree """
nmap <leader>nt :NERDTreeToggle<CR>
nmap <leader>nf :NERDTreeFind<CR>

""" mappings """
nmap H ^
nmap L $
nmap [ gT
nmap ] gt
nmap - <action>(OptimizeImports)
nmap R <action>(RenameElement)
vmap = :<BS><BS><BS><BS><BS><action>(ReformatCode)


nnoremap = V


" g命令
nnoremap ga '.
nmap gn <action>(NextSplitter)
nmap gj <action>(VcsShowNextChangeMarker)
nmap gk <action>(VcsShowPrevChangeMarker)
nmap gs <action>(GotoSuperMethod)
nmap gi <action>(GotoImplementation)
nmap gd <action>(GotoDeclaration)
nmap ge <action>(GotoNextError)
nmap gE <action>(GotoPreviousError)
nmap gl <action>(Back)
nmap gh <action>(Forward)
nmap gc <action>(CallHierarchy)
nmap gt <action>(TypeHierarchy)
nmap gm <action>(MethodHierarchy)
"nmap gp <action>(ParameterInfo)
"nmap gf <action>(FileStructurePopup)
"nmap gb <action>(JumpToLastChange)


" z命令
nmap zk <action>(MethodUp)
nmap zj <action>(MethodDown)
nmap zz <action>(ToggleLineBreakpoint)


" leader键映射
nmap <leader><leader>c <action>(CodeMenu)
nmap <leader><leader>g <action>(Generate)
nmap <leader><leader>t <action>(GotoTest)
nmap <leader><leader>f <action>(ToggleFullScreen)
nmap <leader><leader>p <action>(TogglePresentationMode)


"---------------------------git---------------------------------"
let g:WhichKeyDesc_Git="<leader>g git"
let g:WhichKeyDesc_Git_RollbackLines="<leader>gr rollback lines"
nmap <leader>gr <action>(Vcs.RollbackChangedLines)
let g:WhichKeyDesc_Git_Annotate="<leader>ga annotate"
nmap <leader>ga <action>(Annotate)
let g:WhichKeyDesc_Git_Commit_Window="<leader>gk commit window"
nmap <leader>gk <action>(ActivateCommitToolWindow)
let g:WhichKeyDesc_Git_Branch_Compare="<leader>gc compare whit branch"
nmap <leader>gc <action>(Git.CompareWithBranch)
let g:WhichKeyDesc_Git_History="<leader>gh history"
nmap <leader>gh <action>(Vcs.ShowTabbedFileHistory)
let g:WhichKeyDesc_Git_Log="<leader>gl log"
nmap <leader>gl <action>(Vcs.Show.Log)
let g:WhichKeyDesc_Git_Branch="<leader>gb branches"
nmap <leader>gb <action>(Vcs.ShowBranches)
let g:WhichKeyDesc_Git_Add="<leader>g= add"
nmap <leader>g= <action>(Git.Add)
"------------------------git end-----------------------------------"


let g:WhichKeyDesc_Terminal="<leader>' terminal"
nmap <leader>' <action>(ActivateTerminalToolWindow)

let g:WhichKeyDesc_Rename="<leader>r rename"
nmap <leader>r <action>(RenameElement)
let g:WhichKeyDesc_Fix="<leader>x fix"
nmap <leader>x <action>(ShowIntentionActions)

let g:WhichKeyDesc_Buffer="<leader>b buffer"
let g:WhichKeyDesc_Buffer_Delete="<leader>bd close"
nmap <leader>bd :bdelete<CR>
let g:WhichKeyDesc_Buffer="<leader>b buffer"
let g:WhichKeyDesc_Buffer_W="<leader>bw save"
nmap <leader>bw :w<CR>

let g:WhichKeyDesc_CC="<leader>c copy/close"
let g:WhichKeyDesc_CC_CopyFileName="<leader>cn copy filename"
nmap <leader>cn <action>(CopyFileName)
let g:WhichKeyDesc_CC_CopyReference="<leader>cr copy reference"
nmap <leader>cr <action>(CopyReference)
let g:WhichKeyDesc_CC_CopyAbsolutePath="<leader>cp copy abstract path"
nmap <leader>cp <action>(CopyAbsolutePath)
let g:WhichKeyDesc_CC_CopySource="<leader>cs copy source path"
nmap <leader>cs <action>(CopySourceRootPath)

let g:WhichKeyDesc_CloseAll="<leader>ca close all"
nmap <leader>ca <action>(CloseAllEditorsButActive)
let g:WhichKeyDesc_CloseEditor="<leader>ce close current"
nmap <leader>ce <action>(CloseEditor)
let g:WhichKeyDesc_CloseUnmodified="<leader>cu close unmodified"
nmap <leader>cu <action>(CloseAllUnmodifiedEditors)

let g:WhichKeyDesc_DR="<leader>d debug"
let g:WhichKeyDesc_DR_Debug="<leader>dd debug"
nmap <leader>dd <action>(Debug)
let g:WhichKeyDesc_DR_Stop="<leader>ds stop"
nmap <leader>ds <action>(Stop)
let g:WhichKeyDesc_DR_Breakpoint="<leader>dv view breakpoints"
nmap <leader>dv <action>(ViewBreakpoints)
let g:WhichKeyDesc_DR_Config="<leader>dc config"
nmap <leader>dc <action>(RunConfiguration)
let g:WhichKeyDesc_DR_Update="<leader>du update"
nmap <leader>du <action>(UpdateRunningApplication)
let g:WhichKeyDesc_Update="<leader>u update"
nmap <leader>u <action>(UpdateRunningApplication)


"let g:WhichKeyDesc_Run="<leader>r run"
"let g:WhichKeyDesc_Run_Run="<leader>rr run"
"nmap <leader>rr <action>(run)
"let g:WhichKeyDesc_Run_Coverage="<leader>rc coverage"
"nmap <leader>rc <action>(RunCoverage)
"let g:WhichKeyDesc_Run_Stop="<leader>rs stop"
"nmap <leader>rs <action>(Stop)

"-----------------重构----------------------"
let g:WhichKeyDesc_E="<leader>e"
let g:WhichKeyDesc_I="<leader>i"
let g:WhichKeyDesc_P="<leader>p"

let g:WhichKeyDesc_Extract_Method="<leader>em method"
nmap <leader>em <action>(ExtractMethod)
let g:WhichKeyDesc_Class="<leader>ec class"
nmap <leader>ec <action>(ExtractClass)
let g:WhichKeyDesc_Interface="<leader>ei interface"
nmap <leader>ei <action>(ExtractInterface)
let g:WhichKeyDesc_SuperClass="<leader>es super class"
nmap <leader>es <action>(ExtractSuperclass)

let g:WhichKeyDesc_Introduce_Variable="<leader>iv variable"
nmap <leader>iv <action>(IntroduceVariable)
let g:WhichKeyDesc_Introduce_Constant="<leader>ic constant"
nmap <leader>ic <action>(IntroduceConstant)
let g:WhichKeyDesc_Introduce_Field="<leader>if field"
nmap <leader>if <action>(IntroduceField)
let g:WhichKeyDesc_Introduce_Parameter="<leader>ip parameter"
nmap <leader>ip <action>(IntroduceParameter)
let g:WhichKeyDesc_Inline="<leader>ii inline"
nmap <leader>ii <action>(Inline)
let g:WhichKeyDesc_Introduce_FunctionParameter="<leader>ilp function parameter"
nmap <leader>ilp <action>(IntroduceFunctionParameter)
let g:WhichKeyDesc_Introduce_FunctionVariable="<leader>ilv function variable"
nmap <leader>ilv <action>(IntroduceFunctionVariable)


let g:WhichKeyDesc_MemberPushDown="<leader>pd push down"
nmap <leader>pd <action>(MemberPushDown)
let g:WhichKeyDesc_MemberPullUp="<leader>pu pull up"
nmap <leader>pu <action>(MembersPullUp)

"---------------------------------------------------"

let g:WhichKeyDesc_OverrideMethods="<leader>om override methods"
nmap <leader>om <action>(OverrideMethods)
let g:WhichKeyDesc_ImplementMethods="<leader>im implement methods"
nmap <leader>im <action>(ImplementMethods)
"nmap <leader>ts <action>(Actions.ActionsPlugin.GenerateToString)

let g:WhichKeyDesc_File="<leader>f file/find"
let g:WhichKeyDesc_File_Menu="<leader>fm file menu"
nmap <leader>fm <action>(FileMenu)
let g:WhichKeyDesc_File_History="<leader>fh file history"
nmap <leader>fh <action>(LocalHistory.ShowHistory)
let g:WhichKeyDesc_Find_Action="<leader>fa action"
nmap <leader>fa <action>(GotoAction)
let g:WhichKeyDesc_Find_Search="<leader>ff search everywhere"
nmap <leader>ff <action>(SearchEverywhere)
let g:WhichKeyDesc_File_Open="<leader>fo open in explorer"
nmap <leader>fo <action>(RevealIn)
let g:WhichKeyDesc_File_Move="<leader>fm file move"
nmap <leader>fm <action>(Move)
let g:WhichKeyDesc_File_Copy="<leader>fc file copy"
nmap <leader>fc <action>(CopyElement)


nmap <leader>h <action>(ProblemsView.QuickFixes)

"let g:WhichKeyDesc_Bookmark_Mnemonic="<leader>; mnemonic bookmark"
"nmap <leader>; <action>(ToggleBookmarkWithMnemonic)
let g:WhichKeyDesc_Next_Bookmark="<leader>j"
nmap <leader>j <action>(GotoNextBookmark)
let g:WhichKeyDesc_Previous_Bookmark="<leader>k"
nmap <leader>k <action>(GotoPreviousBookmark)
let g:WhichKeyDesc_Show_Bookmark="<leader>l"
nmap <leader>l <action>(ShowBookmarks)


let g:WhichKeyDesc_Maven="<leader>m maven"
"let g:WhichKeyDesc_Maven_Window="<leader>ma maven window"
"nmap <leader>ma <action>(ActivateMavenToolWindow)
let g:WhichKeyDesc_Maven_Run="<leader>mm execute"
nmap <leader>mm <action>(Maven.ExecuteGoal)
let g:WhichKeyDesc_Maven_Import="<leader>mi reimport"
nmap <leader>mi <action>(Maven.Reimport)
let g:WhichKeyDesc_Maven_Search="<leader>ms search"
nmap <leader>ms <action>(coderead.maven.search)


let g:WhichKeyDesc_NN="<leader>n new"
let g:WhichKeyDesc_NN_Java="<leader>nj java"
nmap <leader>nj <action>(NewClass)
let g:WhichKeyDesc_NN_Dir="<leader>nd directory"
nmap <leader>nd <action>(NewDir)
let g:WhichKeyDesc_NN_File="<leader>nf file"
nmap <leader>nf <action>(NewFile)
"let g:WhichKeyDesc_NN_Javascript="<leader>njs javascript"
"nmap <leader>njs :action NewJavaScriptFile<CR>
let g:WhichKeyDesc_NN_Javascript="<leader>ns scala"
nmap <leader>ns :action Scala.NewClass<CR>
let g:WhichKeyDesc_NN_Html="<leader>nh html"
nmap <leader>nh <action>(NewHtmlFile)
let g:WhichKeyDesc_NN_Xml="<leader>nx xml"
nmap <leader>nx <action>(NewXml)
let g:WhichKeyDesc_NN_Typescript="<leader>nt typescript"
nmap <leader>nt <action>(NewTypeScriptFile)
let g:WhichKeyDesc_NN_Kotlin="<leader>nk kotlin"
nmap <leader>nk <action>(Kotlin.NewFile)


let g:WhichKeyDesc_Project="<leader>p project"
let g:WhichKeyDesc_Project_Close="<leader>pc close"
nmap <leader>pc <action>(CloseProject)
let g:WhichKeyDesc_Project_New="<leader>pn new"
nmap <leader>pn <action>(NewProject)
let g:WhichKeyDesc_Project_Import="<leader>pi import"
nmap <leader>pi <action>(ImportProject)
let g:WhichKeyDesc_Project_Recent="<leader>po recent"
nmap <leader>po <action>(RecentProjectListGroup)
let g:WhichKeyDesc_Project_Next="<leader>pl next"
nmap <leader>pl <action>(NextProjectWindow)


let g:WhichKeyDesc_Sonar="<leader>s sonar"
"let g:WhichKeyDesc_Sonar_Tool="<leader>ss "
"nmap <leader>ss <action>(ActivateSonaRLintToolWindow)
let g:WhichKeyDesc_Sonar_Analyze="<leader>ss analyze"
nmap <leader>ss <action>(SonarLint.AnalyzeFiles)
let g:WhichKeyDesc_Sonar_AnalyzeAll="<leader>sa analyze all"
nmap <leader>sa <action>(SonarLint.AnalyzeAllFiles)
let g:WhichKeyDesc_Sonar_AnalyzeChange="<leader>sc analyze change"
nmap <leader>sc <action>(SonarLint.AnalyzeChangedFiles)

"let g:WhichKeyDesc_Tool="<leader>t tool"
"let g:WhichKeyDesc_Tool_JSON="<leader>tj json"
"nmap <leader>tj <action>(ActivateJsonParserToolWindow)
"let g:WhichKeyDesc_Tool_Explorer="<leader>tc open class"
"nmap <leader>tc <action>(Tool_External Tools_OpenClassInExplorer)
"let g:WhichKeyDesc_Tool_Nvim="<leader>tn nvim"
"nmap <leader>tn <action>(Tool_External Tools_nvim)
"let g:WhichKeyDesc_Tool_Todo="<leader>tt todo"
"nmap <leader>tt <action>(ActivateTODOToolWindow)

"nmap <leader>pa <action>(ActivateProjectToolWindow)
"nmap <leader>pp <action>(RecentProjectListGroup)


let g:WhichKeyDesc_Vim="<leader>v vim"
let g:WhichKeyDesc_Vim_EditVimrc="<leader>ve edit vimrc"
nmap <leader>ve :e ~\\.ideavimrc<CR>
let g:WhichKeyDesc_Vim_Source="<leader>vs source"
nmap <leader>vs :source ~\\.ideavimrc<CR>

let g:WhichKeyDesc_Window="<leader>w window"
let g:WhichKeyDesc_Window_Split="<leader>ws  split"
nmap <leader>ws :sp<CR>
let g:WhichKeyDesc_Window_VSplit="<leader>wv vsplit"
nmap <leader>wv :vs<CR>
let g:WhichKeyDesc_Window_Close="<leader>wc close"
nmap <leader>wc <C-w>c<CR>
let g:WhichKeyDesc_Window_CloseOther="<leader>wo close other"
nmap <leader>wo <C-w>o<CR>
let g:WhichKeyDesc_Window_Hide="<leader>wm hide windows"
nmap <leader>wm <action>(HideAllWindows)


""" translate """
nmap <leader>y <action>($EditorTranslateAction)
vmap <leader>y <action>($EditorTranslateAction)
nmap <leader>Y <action>($TranslateAndReplaceAction)

""" Expand and Collpase """
nmap zo <action>(ExpandRegion)
nmap zO <action>(ExpandAllRegions)
nmap zc <action>(CollapseRegion)
nmap zC <action>(CollapseAllRegions)

