"--------------插件-------------------"
Plug 'nerdtree'
Plug 'vim-easymotion'
Plug 'vim-surround'
Plug 'argtextobj.vim'
Plug 'vim-exchange'
Plug 'vim-textobj-entire'
Plug 'vim-highlightedyank'
Plug 'vim-paragraph-motion'
Plug 'vim-indent-object'
Plug 'vim-matchit'
Plug 'ReplaceWithRegister'
Plug 'vim-commentary'
Plug 'vim-multiple-cursors'

set nu
set relativenumber
set incsearch
set ignorecase
set smartcase
set autoread
set cursorline
set magic
set clipboard+=unnamed
set scrolloff=1
set syntax=on
set ruler
set noeb
set notimeout
set timeoutlen=5000
set which-key
"set sneak
set quickscope
set ideajoin

let mapleader=" "
let g:WhichKey_FontSize = 22
let g:qs_primary_color = '#5cff26'
let g:qs_secondary_color = '#4d7fff'
"let g:EasyMotion_override_acejump = 0
"let g:sneak#label = 1

""" nerdtree """
nmap <leader>nt :NERDTreeToggle<CR>
nmap <leader>nf :NERDTreeFind<CR>

""" mappings """
nmap <A-e> <action>(RecentProjectListGroup)
nmap H ^
nmap L $
nmap [ gT
nmap ] gt
nmap - <action>(OptimizeImports)
nmap R <action>(RenameElement)
vmap = :<BS><BS><BS><BS><BS><action>(ReformatCode)
nmap s <Plug>(easymotion-s)
nnoremap = V


" g命令
nnoremap ga '.
nmap gn <action>(NextSplitter)
nmap gj <action>(VcsShowNextChangeMarker)
nmap gk <action>(VcsShowPrevChangeMarker)
nmap gs <action>(GotoSuperMethod)
nmap gi <action>(GotoImplementation)
nmap gd <action>(GotoDeclaration)
nmap ge <action>(GotoNextError)
nmap gE <action>(GotoPreviousError)
nmap gh <action>(Back)
nmap gl <action>(Forward)
nmap gf <action>(FileStructurePopup)

" z命令
nmap zk <action>(MethodUp)
nmap zj <action>(MethodDown)
nmap zz <action>(ToggleLineBreakpoint)
nmap zh <action>(ShowErrorDescription)

let g:WhichKeyDesc_ShowIntentionActions="<leader>h"
nmap <leader>h <action>(ShowIntentionActions)
let g:WhichKeyDesc_Rename="<leader>r rename"
nmap <leader>r <action>(RenameElement)

" leader键映射
nmap <leader><leader>c <action>(CodeMenu)
nmap <leader><leader>g <action>(Generate)
nmap <leader><leader>f <action>(ToggleFullScreen)
nmap <leader><leader>p <action>(TogglePresentationMode)


""" Git """
let g:WhichKeyDesc_Git="<leader>g git"
nmap <leader>gr <action>(Vcs.RollbackChangedLines)
nmap <leader>ga <action>(Annotate)
nmap <leader>gk <action>(ActivateCommitToolWindow)
nmap <leader>gc <action>(Git.CompareWithBranch)
nmap <leader>gh <action>(Vcs.ShowTabbedFileHistory)
nmap <leader>gl <action>(Vcs.Show.Log)
nmap <leader>gb <action>(Vcs.ShowBranches)
nmap <leader>g= <action>(Git.Add)


""" Copy Close """
let g:WhichKeyDesc_CC="<leader>c copy/close"
let g:WhichKeyDesc_CC_CopyFileName="<leader>cn copy filename"
nmap <leader>cn <action>(CopyFileName)
let g:WhichKeyDesc_CC_CopyReference="<leader>cr copy reference"
nmap <leader>cr <action>(CopyReference)
let g:WhichKeyDesc_CC_CopySource="<leader>cs copy source path"
nmap <leader>cs <action>(CopySourceRootPath)
let g:WhichKeyDesc_Project_Close="<leader>cp close"
nmap <leader>cp <action>(CloseProject)

let g:WhichKeyDesc_CloseAll="<leader>ca close all"
nmap <leader>ca <action>(CloseAllEditorsButActive)
let g:WhichKeyDesc_CloseEditor="<leader>ce close current"
nmap <leader>ce <action>(CloseEditor)
let g:WhichKeyDesc_CloseUnmodified="<leader>cu close unmodified"
nmap <leader>cu <action>(CloseAllUnmodifiedEditors)


""" Debug Run Test """
let g:WhichKeyDesc_DR="<leader>d debug/run/test"
nmap <leader>dd <action>(Debug)
nmap <leader>ds <action>(Stop)
nmap <leader>dv <action>(ViewBreakpoints)
nmap <leader>dc <action>(RunConfiguration)
nmap <leader>du <action>(UpdateRunningApplication)
nmap <leader>dr <action>(Run)
nmap <leader>dt <action>(GotoTest)

""" Refactor """
nmap <leader>em <action>(ExtractMethod)
vmap <leader>em <action>(ExtractMethod)
nmap <leader>ec <action>(ExtractClass)
vmap <leader>ec <action>(ExtractClass)
nmap <leader>ei <action>(ExtractInterface)
vmap <leader>ei <action>(ExtractInterface)
nmap <leader>es <action>(ExtractSuperclass)
vmap <leader>es <action>(ExtractSuperclass)

nmap <leader>iv <action>(IntroduceVariable)
vmap <leader>iv <action>(IntroduceVariable)
nmap <leader>ic <action>(IntroduceConstant)
vmap <leader>ic <action>(IntroduceConstant)
nmap <leader>if <action>(IntroduceField)
vmap <leader>if <action>(IntroduceField)
nmap <leader>ip <action>(IntroduceParameter)
vmap <leader>ip <action>(IntroduceParameter)
nmap <leader>ii <action>(Inline)
vmap <leader>ii <action>(Inline)
nmap <leader>ilp <action>(IntroduceFunctionParameter)
vmap <leader>ilp <action>(IntroduceFunctionParameter)
nmap <leader>ilv <action>(IntroduceFunctionVariable)
vmap <leader>ilv <action>(IntroduceFunctionVariable)

nmap <leader>pd <action>(MemberPushDown)
nmap <leader>pu <action>(MembersPullUp)

nmap <leader>om <action>(OverrideMethods)
nmap <leader>im <action>(ImplementMethods)

"nmap <leader>ms :action MakeStatic<CR>
"nmap <leader>mi :action ConvertToInsatnceMethod<CR>
"nmap <leader>cs :action ChangeSignature<CR>

""" Bookmark """
nmap <leader>l <action>(ShowBookmarks)
nmap <leader>; <action>(ToggleBookmark)
nmap <leader>m0 <action>(ToggleBookmark0)
nmap <leader>m1 <action>(ToggleBookmark1)
nmap <leader>m2 <action>(ToggleBookmark2)
nmap <leader>m3 <action>(ToggleBookmark3)
nmap <leader>m4 <action>(ToggleBookmark4)
nmap <leader>m5 <action>(ToggleBookmark5)
nmap <leader>m6 <action>(ToggleBookmark6)
nmap <leader>m7 <action>(ToggleBookmark7)
nmap <leader>m8 <action>(ToggleBookmark8)
nmap <leader>m9 <action>(ToggleBookmark9)
nmap <leader>m1 <action>(ToggleBookmark1)
nmap <leader>ma <action>(ToggleBookmarkA)
nmap <leader>mb <action>(ToggleBookmarkB)
nmap <leader>mc <action>(ToggleBookmarkC)
nmap <leader>md <action>(ToggleBookmarkD)
nmap <leader>me <action>(ToggleBookmarkE)
nmap <leader>mf <action>(ToggleBookmarkF)
nmap <leader>mg <action>(ToggleBookmarkG)
nmap <leader>mh <action>(ToggleBookmarkH)
nmap <leader>mi <action>(ToggleBookmarkI)
nmap <leader>mj <action>(ToggleBookmarkJ)
nmap <leader>mk <action>(ToggleBookmarkK)
nmap <leader>ml <action>(ToggleBookmarkL)
nmap <leader>mm <action>(ToggleBookmarkM)
nmap <leader>mn <action>(ToggleBookmarkN)
nmap <leader>mo <action>(ToggleBookmarkO)
nmap <leader>mp <action>(ToggleBookmarkP)
nmap <leader>mq <action>(ToggleBookmarkQ)
nmap <leader>mr <action>(ToggleBookmarkR)
nmap <leader>ms <action>(ToggleBookmarkS)
nmap <leader>mt <action>(ToggleBookmarkT)
nmap <leader>mu <action>(ToggleBookmarkU)
nmap <leader>mv <action>(ToggleBookmarkV)
nmap <leader>mw <action>(ToggleBookmarkW)
nmap <leader>mx <action>(ToggleBookmarkX)
nmap <leader>my <action>(ToggleBookmarkY)
nmap <leader>mz <action>(ToggleBookmarkZ)

nmap m0 <action>(GotoBookmark0)
nmap m1 <action>(GotoBookmark1)
nmap m2 <action>(GotoBookmark2)
nmap m3 <action>(GotoBookmark3)
nmap m4 <action>(GotoBookmark4)
nmap m5 <action>(GotoBookmark5)
nmap m6 <action>(GotoBookmark6)
nmap m7 <action>(GotoBookmark7)
nmap m8 <action>(GotoBookmark8)
nmap m9 <action>(GotoBookmark9)
nmap ma <action>(GotoBookmarkA)
nmap mb <action>(GotoBookmarkB)
nmap mc <action>(GotoBookmarkC)
nmap md <action>(GotoBookmarkD)
nmap me <action>(GotoBookmarkE)
nmap mf <action>(GotoBookmarkF)
nmap mg <action>(GotoBookmarkG)
nmap mh <action>(GotoBookmarkH)
nmap mi <action>(GotoBookmarkI)
nmap mj <action>(GotoBookmarkJ)
nmap mk <action>(GotoBookmarkK)
nmap ml <action>(GotoBookmarkL)
nmap mm <action>(GotoBookmarkM)
nmap mn <action>(GotoBookmarkN)
nmap mo <action>(GotoBookmarkO)
nmap mp <action>(GotoBookmarkP)
nmap mq <action>(GotoBookmarkQ)
nmap mr <action>(GotoBookmarkR)
nmap ms <action>(GotoBookmarkS)
nmap mt <action>(GotoBookmarkT)
nmap mu <action>(GotoBookmarkU)
nmap mv <action>(GotoBookmarkV)
nmap mw <action>(GotoBookmarkW)
nmap mx <action>(GotoBookmarkX)
nmap my <action>(GotoBookmarkY)
nmap mz <action>(GotoBookmarkZ)


""" maven """
let g:WhichKeyDesc_Maven="<leader>M maven"
let g:WhichKeyDesc_Maven_Run="<leader>mm execute"
nmap <leader>Mm <action>(Maven.ExecuteGoal)
let g:WhichKeyDesc_Maven_Import="<leader>mi reimport"
nmap <leader>Mi <action>(Maven.Reimport)
let g:WhichKeyDesc_Maven_Search="<leader>ms search"
nmap <leader>Ms <action>(coderead.maven.search)



""" file """
let g:WhichKeyDesc_File="<leader>f file"
let g:WhichKeyDesc_File_History="<leader>fh file history"
nmap <leader>fh <action>(LocalHistory.ShowHistory)
let g:WhichKeyDesc_Find_Action="<leader>fa action"
nmap <leader>fa <action>(GotoAction)
let g:WhichKeyDesc_File_Open="<leader>fo open in explorer"
nmap <leader>fo <action>(RevealIn)
let g:WhichKeyDesc_File_Copy="<leader>fc file copy"
nmap <leader>fc <action>(CopyElement)


let g:WhichKeyDesc_Sonar="<leader>s sonar"
let g:WhichKeyDesc_Sonar_Analyze="<leader>ss analyze"
nmap <leader>ss <action>(SonarLint.AnalyzeFiles)
let g:WhichKeyDesc_Sonar_AnalyzeAll="<leader>sa analyze all"
nmap <leader>sa <action>(SonarLint.AnalyzeAllFiles)
let g:WhichKeyDesc_Sonar_AnalyzeChange="<leader>sc analyze change"
nmap <leader>sc <action>(SonarLint.AnalyzeChangedFiles)


let g:WhichKeyDesc_Vim="<leader>v vim"
let g:WhichKeyDesc_Vim_EditVimrc="<leader>ve edit vimrc"
nmap <leader>ve :e ~\\.ideavimrc<CR>
let g:WhichKeyDesc_Vim_Source="<leader>vs source"
nmap <leader>vs :source ~\\.ideavimrc<CR>

""" buffer window """
let g:WhichKeyDesc_Buffer="<leader>b buffer"
let g:WhichKeyDesc_Window="<leader>w window"

let g:WhichKeyDesc_Buffer_Delete="<leader>bd close"
nmap <leader>bd :bdelete<CR>
let g:WhichKeyDesc_Buffer="<leader>b buffer"
let g:WhichKeyDesc_Buffer_W="<leader>bw save"
nmap <leader>bw :w<CR>
let g:WhichKeyDesc_Window_Split="<leader>ws  split"
nmap <leader>ws :sp<CR>
let g:WhichKeyDesc_Window_VSplit="<leader>wv vsplit"
nmap <leader>wv :vs<CR>
let g:WhichKeyDesc_Window_Close="<leader>wc close"
nmap <leader>wc <C-w>c<CR>
let g:WhichKeyDesc_Window_CloseOther="<leader>wo close other"
nmap <leader>wo <C-w>o<CR>
let g:WhichKeyDesc_Window_Hide="<leader>wm hide windows"
nmap <leader>wm <action>(HideAllWindows)


""" Translate """ 
let g:WhichKeyDesc_Y="<leader>y"
let g:WhichKeyDesc_y="<leader>Y"
nmap <leader>y <action>($EditorTranslateAction)
vmap <leader>y <action>($EditorTranslateAction)
nmap <leader>Y <action>($TranslateAndReplaceAction)


""" Expand and Collapse """
nmap zo <action>(ExpandRegion)
nmap zO <action>(ExpandAllRegions)
nmap zc <action>(CollapseRegion)
nmap zC <action>(CollapseAllRegions)
